.img_logo{
    width : 100%;
}
#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    margin: 20px;  
}
.fas{
    text-align: right;
}
.panier-empty{
    color: #2F4F4F;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    padding-top: 30px;
}
#show-totalprices{
    padding-top: 20px;
    font-size: 1.6em;
    font-weight: bolder;
}
.form-basck{
    color: red;
    font-size: 1em;
}
.btn{
    margin-bottom: 20px;
}
.text-comande{
    color: green;
    font-size: 3em;
    text-align: center;
    padding-top: 100px;
}
.pointer{
    cursor: pointer;
}

footer{
    padding-top: 10px
}
.list-inline{
    margin-bottom: 0px;
}
#msg-firstname, #msg-lastname, #msg-email, #msg-adresse, #msg-city{
    color: red;
}
.show-order{
    background-color: #EAFAF1  ;
    color: #138D75  ;
    box-shadow: 10px 5px 5px #5D6D7E;
}
.fa-shopping-basket{
    color: aliceblue;
    padding-left: 10px;
}
#qntIdProduct{
    color: aliceblue;
}