
.img_logo{
    width : 100%;
    padding-bottom: 20px;
}
#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    height: 520px;
    margin: 20px;    
}
.card img{
  width: 286px;
  height: 200px;
}
.btn{
    margin-bottom: 20px;
}